<%= form_with(model: rsa_work, local: true) do |form| %>
  <% if rsa_work.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rsa_work.errors.count, "error") %> prohibited this rsa_work from being saved:</h2>

      <ul>
      <% rsa_work.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
