<p id="notice"><%= notice %></p>

<p>
  <strong>Your note: </strong>
  <%= simple_format(@hidden_note.your_note) %>
</p>


<!-- <%= link_to 'Edit', edit_hidden_note_path(@hidden_note) %> | -->
<%= link_to 'New Hidden Note', new_hidden_note_url %>
